{% extends 'core/base.twig' %}

{% block title 'Home!' %}

{% block stylesheet %}
	{{ parent() }}

{% endblock %}

{% block body %}

	Bromigo, <a href="{{ path('lastfm') }}">want to hook last.fm to your account</a>?
{% endblock %}

{% block javascript %}
	{{ parent() }}

{% endblock %}
